<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
<div class="container mt-3">
    <h1>네이버 뉴스 수집 실시간 데이터 모니터링</h1>
    </hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>신문사명</th>
                <th>제목</th>
                <th>날짜</th>
            </tr>
        </thead>
        <tbody id="news-box">
        </tbody  >
    </table>
</div>

    <script>
        const eventSource = new EventSource("http://localhost:8080/news");
        eventSource.onmessage = (event) => {
            //console.log(event.data);
            naverNews = JSON.parse(event.data);
            console.log(naverNews);

            let convertCreatedAt = new Date(naverNews.createdAt)
            console.log(convertCreatedAt);

            function get_date_str(date)
            {
                var sYear = date.getFullYear();
                var sMonth = date.getMonth() + 1;
                var sDate = date.getDate();
                var sHours = date.getHours();
                var sMinutes = date.getMinutes();
                var second = date.getSeconds();

                var ap = "오전";
                if (sHours   > 11) { ap = "오후";             }
                if (sHours   > 12) { sHours = sHours - 12;      }
                if (sHours   == 0) { sHours = 12;             }
                if (sHours   < 10) { sHours   = "0" + sHours;   }
                if (sMinutes < 10) { sMinutes = "0" + sMinutes; }
                if (second < 10) { second = "0" + second; }

                sMonth = sMonth > 9 ? sMonth : "0" + sMonth;
                sDate  = sDate > 9 ? sDate : "0" + sDate;
                return sYear + "-" + sMonth + "-" + sDate + " " + ap + " " + sHours + "시" + sMinutes + "분";
            }

            $("#news-box").append("<tr> <td>" + naverNews.company + "</td> <td>" + naverNews.title + "</td> <td>" +get_date_str(convertCreatedAt) + "</td> </tr>");
        }
    </script>
</body>

</html>